<div class="add-client-card">
  <div>
    <h1>Zaloguj się do Panelu Zarządzania</h1>
    <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
      <mat-form-field appearance="fill">
        <mat-label>Login</mat-label>
        <input
          matInput
          type="text"
          name="login"
          required
          ngModel
          #login="ngModel"
        />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Hasło</mat-label>
        <input
          matInput
          type="password"
          name="password"
          required
          ngModel
          #password="ngModel"
        />
      </mat-form-field>
      <br />
      <button type="submit" mat-raised-button color="primary">Zaloguj</button>
    </form>
  </div>
</div>
