<div class="add-client">
  <mat-form-field appearance="fill">
    <mat-label>Imię</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Nazwisko</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Data urodzenia</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Branża</mat-label>
    <mat-select>
      <mat-option value="option">Finanse</mat-option>
      <mat-option value="option">Media</mat-option>
      <mat-option value="option">Podróże</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Podkategoria</mat-label>
    <mat-select>
      <mat-option value="option">Bank</mat-option>
      <mat-option value="option">Ubezpieczenia</mat-option>
      <mat-option value="option">TV</mat-option>
      <mat-option value="option">Radio</mat-option>
      <mat-option value="option">Krajowe</mat-option>
      <mat-option value="option">Zagraniczne</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Numer Telefonu</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
</div>
