/* Homepage Clients */
.clients-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
@media (max-width: 900px) {
  .clients-header {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

table {
  width: 100%;
}

/* Add Client and Edit Components */
.add-client-card {
  text-align: center;
  margin-bottom: 2rem;
}

.add-client {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-form-field {
  width: 90%;
  max-width: 500px;
  margin: auto;
}

.btn-block {
  width: 90%;
  max-width: 500px;
}

/* Login */
.login-page {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background-color: #f5f5f5;
  border-radius: 1rem 0 1rem 0;
  box-shadow: 1px 2px #888888;
  padding: 2rem;
  margin-top: 1rem;
}

.login-header {
  text-align: center;
}
